<!-- Loop over each object in the blogs array -->
{{#each blogs as |blog| }}
<div class="row mb-4 blog">
  <div class="col-md-5" id="blog-info">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{!-- {{{get_emoji}}} --}}
      <a href="/blog/{{blog.id}}" id="blog-title">{{blog.name}}</a>
    </h2>
    <p>
      {{!-- <span for="img" aria-label="money">💲</span> --}}
      <!-- Pass needed_funding value to the helper function -->
      <span class="subject-text">{{blog.subject}}</span>
    </p>
    <p>Created by {{blog.user.name}} on {{format_date blog.date_created}}</p>
  </div>
  <div class="col-md-7" id="blog-content">
    <p>
      {{blog.description}}
    </p>
  </div>
</div>
{{/each}}